@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
}

@layer utilities {
}

@layer components {
  .btn {
    @apply inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;
  }
}

@layer utilities {
  .custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 200px;
  }

  .custom-shape-divider-top .shape-fill {
    --tw-bg-opacity: 1;
    fill: rgba(243, 244, 246, var(--tw-bg-opacity));
  }

  .tags {
    @apply flex-initial mr-1 mb-1 text-base font-poppins leading-tight px-3 py-1 bg-schaap-800 text-gray-100 rounded-md;
  }
}
